<!-- applications.html -->
<h1>My App Store</h1>

<h2>Basic Apps</h2>
<div
  class="swiper"
  #swiperContainer1
  [ngClass]="{ 'swiper--mobile-padding': isMobileDevice }"
>
  <div class="swiper-wrapper">
    @for (thumbnailData of section; track thumbnailData.id + '_' + $index) {
    <div class="swiper-slide">
      <img
        [class.no__highlight]="isMobileDevice"
        [src]="logoPath + '/' + thumbnailData.logoFilename"
        [alt]="thumbnailData.logoAltText || 'Video Thumbnail'"
        (click)="openDetails(thumbnailData)"
      />
    </div>
    }
  </div>
  @if (!isMobileDevice) {
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  }
</div>

<h2>Complex Apps</h2>
<div
  class="swiper"
  #swiperContainer2
  [ngClass]="{ 'swiper--mobile-padding': isMobileDevice }"
>
  <div class="swiper-wrapper">
    @for (thumbnailData of section; track thumbnailData.id + '_' + $index) {
    <div class="swiper-slide">
      <img
        [class.no__highlight]="isMobileDevice"
        [src]="logoPath + '/' + thumbnailData.logoFilename"
        [alt]="thumbnailData.logoAltText || 'Video Thumbnail'"
        (click)="openDetails(thumbnailData)"
      />
    </div>
    }
  </div>
  @if (!isMobileDevice) {
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  }
</div>