<h1>App Shop</h1>

<!-- Erste Reihe -->
<div class="swiper" #swiperContainer1>
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let thumbnailData of section; trackBy: trackByUrl">
      <img [src]="thumbnailData.thumbnailUrl" [alt]="thumbnailData.altText || 'Video Thumbnail'" />
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<!-- Zweite Reihe (reversed!) -->
<div class="swiper" #swiperContainer2>
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let thumbnailData of sectionReversed; trackBy: trackByUrl">
      <img [src]="thumbnailData.thumbnailUrl" [alt]="thumbnailData.altText || 'Video Thumbnail'" />
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>