.swiper {
  overflow: hidden;

  -webkit-user-select: none; /* Safari, Chrome, Opera, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge (ältere Versionen) */
  user-select: none; /* Standard-Syntax */

  margin: 16px;
  padding: 16px;

  .swiper-wrapper {
    overflow: visible;
    padding: 1px;
    padding-right: 4px;

    .swiper-slide {
      img {
        display: block;
        max-width: 99%;
        border-radius: 20%;
        box-shadow: 0 3px 5px -1px color-mix(in srgb, light-dark(#000, #fff) 10%, light-dark(#faf9fd, #121316)),
          0 6px 10px 0
            color-mix(
              in srgb,
              light-dark(#000, #fff) 10%,
              light-dark(#faf9fd, #121316)
            ),
          0 1px 18px 0
            color-mix(
              in srgb,
              light-dark(#000, #fff) 6%,
              light-dark(#faf9fd, #121316)
            );
        transition: box-shadow 180ms ease, transform 180ms ease;
        will-change: box-shadow, transform;
        cursor: pointer;

        &:hover,
        &:focus {
          box-shadow: 0 6px 7px -0.7px color-mix(in srgb, light-dark(#000, #fff)
                  10%, light-dark(#faf9fd, #121316)),
            0 10px 11.2px 0.7px
              color-mix(
                in srgb,
                light-dark(#000, #fff) 10%,
                light-dark(#faf9fd, #121316)
              ),
            0 2px 18.2px 1.4px
              color-mix(
                in srgb,
                light-dark(#000, #fff) 6%,
                light-dark(#faf9fd, #121316)
              );
          transform: translateY(-1px);
        }
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    /* Positionierung */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    /* Box-Modell */
    width: 24px;
    height: 24px;
    padding: 16px;
    box-shadow: 0 1px 2px 0
        color-mix(
          in srgb,
          light-dark(#000, #fff) 10%,
          light-dark(#faf9fd, #121316)
        ),
      0 1px 3px 1px
        color-mix(
          in srgb,
          light-dark(#000, #fff) 10%,
          light-dark(#faf9fd, #121316)
        );
    border-radius: 50%;

    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Visuelles */
    background-color: #faf9fd;

    /* Typo/Icon (Swiper-Variablen) */
    --swiper-navigation-color: #5f6368;
    --swiper-navigation-size: 1px; /* Icon-Größe */

    /* Interaktion */
    cursor: pointer;

    /* Effekte */
    transition: background-color 0.3s ease;

    /* Sonstiges */
    text-shadow: none;
  }

  .swiper-button-prev {
    left: 1px !important;
  }

  .swiper-button-next {
    right: 1px !important;
  }

  @media (hover: none) {
    > .swiper-button-prev,
    > .swiper-button-next {
      opacity: 1 !important;
      visibility: visible !important;
      pointer-events: auto !important;
    }
  }
}
