.swiper {
  //   padding-top: 10px;
  //   padding-bottom: 10px;
  // padding: 0px;
  overflow: hidden;

  -webkit-user-select: none; /* Safari, Chrome, Opera, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge (ältere Versionen) */
  user-select: none; /* Standard-Syntax */

  padding-right: 12px;
  margin-right: -12px;
  padding-left: 12px;
  margin-left: -12px;

  .swiper-wrapper {
    overflow: visible;
    padding: 1px;
    padding-right: 4px;

    .swiper-slide {
      img {
        display: block;
        max-width: 99%;
        border-radius: 20%;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12),
          /* crisp 1px Outline (außerhalb) */ inset 0 1px 0
            rgba(255, 255, 255, 0.25); /* leichte innere Kante für Tiefe */
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    /* Positionierung */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    /* Box-Modell */
    width: 24px;
    height: 24px;
    padding: 16px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
    border-radius: 50%;

    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Visuelles */
    background-color: #faf9fd;

    /* Typo/Icon (Swiper-Variablen) */
    --swiper-navigation-color: #5f6368;
    --swiper-navigation-size: 1px; /* Icon-Größe */

    /* Interaktion */
    cursor: pointer;

    /* Effekte */
    transition: background-color 0.3s ease;

    /* Sonstiges */
    text-shadow: none;
  }

  .swiper-button-prev {
    left: 1px !important;
  }

  .swiper-button-next {
    right: 1px !important;
  }
}
