@use "@angular/material" as mat;
@use "swiper/swiper-bundle.css";

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

.darkMode {
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

.lightMode {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  margin-top: 4px;
}

h1,
h2 {
  font-weight: 500;
}

.no__highlight {
  // Verhindert das blaue/graue Overlay beim Tippen auf iOS/Android
  -webkit-tap-highlight-color: transparent;
  // Verhindert Text- oder Bildauswahl (wichtig für Touch-Gesten)
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}